.apply-style {
  .box1 {
    background: rgba(255, 255, 255, 0.04);
  }

  .bb32 {
    border-bottom: 1px solid rgba(#323245, 0.7);
  }

  .n-radio-group {
    display: block;
  }

  .b1-grid1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }
  }

  .b1-bth {
    .van-button {
      color: #06061A !important;
      font-size: 24px;
      height: 60px;

      @media (max-width: 768px) {
        font-size: 12px;
        height: 36px;
      }
    }

    .van-button__loading .van-loading__spinner {
      width: 24px;
      height: 24px;
    }
  }
}